Options +FollowSymLinks
IndexIgnore */*
RewriteEngine on

RewriteCond %{REQUEST_URI} !^/(web)
RewriteRule ^assets/(.*)$ /public/assets/$1 [L]
RewriteRule ^css/(.*)$ public/css/$1 [L]
RewriteRule ^js/(.*)$ public/js/$1 [L]
RewriteRule ^images/(.*)$ public/images/$1 [L]
RewriteRule ^fonts/(.*)$ public/fonts/$1 [L]
RewriteRule ^vendor/(.*)$ public/vendor/$1 [L]
RewriteRule (.*) /public/$1

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /public/index.php